.main{
   
    width: 100%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 300px;
}
.part1{
   
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 20px;
}