.part1{
   
    width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.part1>p{
    font-size: 80px;
   padding-left: 20px;
   padding-right: 20px;
   text-align: center;
   font-weight: lighter;
   
}
.part1>div>h3{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: #507791;
   
}
.part2{
    width:1020px;
  
    margin: auto;
}
.part3{
  
  margin-top: 20px;
}
.part3>p{
    font-size: 30px;
    text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.part3>div{
    display: flex;
    width: 70%;
    gap: 20px;
    margin: auto;
   
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}
.part4{
 
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 80px;
}
.part4>div>h2{
    font-size: 32px;
    color: #507791;
    padding: 10px;

}
.box1{
    width:40%
}
.part5{
   
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.part5>div>h2{
    font-size: 32px;
    color: #507791;
    padding: 10px;

}
.part5_box1{
    width: 40%;
}
.part6{
 
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.part6>div>h2{
    font-size: 32px;
    color: #507791;
    padding: 10px;

}
.part6_box1{
    width: 40%;
}
.part7{
  
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
.part7_box1{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 50px;
}
.part7_box1>div{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    width:300px;
margin-left: 20px;
border-radius: 80px;
padding-top: 10px;
padding-bottom: 20px;
}
.part8{
    text-align: center;
    margin-top: 60px;
}
.part8_box1{
    margin-top: 20px;
}
.part9{
    display: flex;
    width: 80%;
    gap: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.part9>div{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    text-align: center;
    padding-bottom: 30px;
}